*~
*.o
TAGS
.*
*.pc
!.gitignore
*.*~
*.so
*/msg_gen/*
*/src/*/msg/*
__*
CMakeFiles
*/Makefile
*.swp
*/build/**/*
bin/**
*-swp
.svn/*
bin
build
CMakeCache.txt
cmake_install*
install_manifest.txt
*/catkin_generated
*screenshots/*
*doc/*
