SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A9007DXk", SYMLINK+="servo"

SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="e729", ATTRS{serial}=="00000285", SYMLINK+="segway_rmp"

KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{idVendor}=="15d1", MODE="0666", GROUP="dialout", PROGRAM="/opt/ros/groovy/env.sh rosrun hokuyo_node getID %N q", SYMLINK+="sensors/hokuyo_%c"

