<launch>
    <node name="move_base" type="move_base" pkg="move_base">
        <rosparam file="$(find segbot_stage)/config/move_base.yaml"
                command="load"/>

        <param name="SBPLLatticePlanner/primitive_filename"
                value="$(find segbot_stage)/config/segbot.mprim"/>
        <rosparam file="$(find segbot_stage)/config/sbpl_global_params.yaml"
                command="load"/>

        <rosparam file="$(find segbot_stage)/config/costmap_common.yaml"
                command="load" ns="global_costmap"/>
        <rosparam file="$(find segbot_stage)/config/costmap_common.yaml"
                command="load" ns="local_costmap"/>

        <rosparam file="$(find segbot_stage)/config/costmap_global.yaml"
                command="load"/>
        <rosparam file="$(find segbot_stage)/config/costmap_local.yaml"
                command="load"/>
    </node>
</launch>
