<launch>
	<include file="$(find segbot_stage)/launch/map_server.launch" />
	<include file="$(find segbot_stage)/launch/segbot_stage.launch" />
	<include file="$(find segbot_stage)/launch/move_base.launch" />
	<include file="$(find segbot_stage)/launch/amcl.launch" />
	<include file="$(find segbot_stage)/launch/teleop.launch" />
</launch>
