<launch>
    <arg name="use_tilt_laser"/>
    <arg name="use_move_base"/>
    <arg name="use_sbpl"/>
    <arg name="sbpl_planner"/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" if="$(arg use_move_base)">
        <remap from="map" to="/map" />
        <!--<remap from="move_base_simple/goal" to="/goal" />-->
        <param name="controller_frequency" value="20.0" />
        <param name="planner_frequency" value="0.33" />
        <param name="global_costmap/robot_base_frame" value="/base_footprint" />

        <param name="recovery_behavior_enabled" value="false"/>
        <param name="base_global_planner" value="$(arg sbpl_planner)" if="$(arg use_sbpl)"/>
        <param name="base_global_planner" value="navfn/NavfnROS" unless="$(arg use_sbpl)"/>
        <!-- <param name="$(arg sbpl_planner)/primitive_filename" value="$(find segbot_2dnav)/config/non-uniform_circular_1_1_er0p1.mprim" if="$(arg use_sbpl)"/> -->
        <param name="$(arg sbpl_planner)/primitive_filename" value="$(find segbot_2dnav)/config/uni_circ_test.mprim" if="$(arg use_sbpl)"/>
        <rosparam file="$(find segbot_2dnav)/config/sbpl_global_params.yaml" command="load" if="$(arg use_sbpl)"/>

        <rosparam file="$(find segbot_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" unless="$(arg use_tilt_laser)"/>
        <rosparam file="$(find segbot_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" unless="$(arg use_tilt_laser)"/>
        <rosparam file="$(find segbot_2dnav)/config/costmap_common_params_with_tilt.yaml" command="load" ns="global_costmap" if="$(arg use_tilt_laser)"/>
        <rosparam file="$(find segbot_2dnav)/config/costmap_common_params_with_tilt.yaml" command="load" ns="local_costmap" if="$(arg use_tilt_laser)"/>

        <rosparam file="$(find segbot_2dnav)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find segbot_2dnav)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find segbot_2dnav)/config/base_local_planner_params.yaml" command="load" />

        <remap from="cmd_vel" to="raw_cmd_vel"/>
    </node>

</launch>
