<launch>
    <arg name="use_tilt_laser"/>
    <arg name="use_move_base"/>
    <arg name="use_sbpl"/>
    <arg name="sbpl_planner"/>

    <!--
    NOTE: clear_params set to true because of our usage of deprecated pre- Hydro
    param scheme. move_base now reads in the old parameter scheme, to
    maintain backwards compatibility, but then reuploads them to the param
    server under the new scheme. Since we do not set parameters under the new
    scheme, relaunching this launch file will not update them accordingly
    -->
    <node if="$(arg use_move_base)" name="move_base" pkg="move_base" type="move_base" clear_params="true">
        <!--<remap from="move_base_simple/goal" to="goal" />-->

        <param name="controller_frequency" value="20.0"/>
        <param name="planner_frequency" value="0.33"/>
        <param name="global_costmap/robot_base_frame" value="base_footprint"/>

        <param name="recovery_behavior_enabled" value="false"/>
        <param if="$(arg use_sbpl)" name="base_global_planner" value="$(arg sbpl_planner)"/>
        <param if="$(arg use_sbpl)" name="$(arg sbpl_planner)/primitive_filename" value="$(find segbot_2dnav)/config/segbot.mprim"/>
        <param unless="$(arg use_sbpl)" name="base_global_planner" value="navfn/NavfnROS"/>
        <rosparam file="$(find segbot_2dnav)/config/sbpl_global_params.yaml" command="load" if="$(arg use_sbpl)"/>

        <rosparam command="load" file="$(find segbot_2dnav)/config/costmap_common_params.yaml" ns="global_costmap"/>
        <rosparam command="load" file="$(find segbot_2dnav)/config/costmap_common_params.yaml" ns="local_costmap"/>
        <rosparam if="$(arg use_tilt_laser)" command="load" file="$(find segbot_2dnav)/config/costmap_common_base_and_tilt_params.yaml" ns="global_costmap"/>
        <rosparam if="$(arg use_tilt_laser)" command="load" file="$(find segbot_2dnav)/config/costmap_common_base_and_tilt_params.yaml" ns="local_costmap"/>
        <rosparam unless="$(arg use_tilt_laser)" command="load" file="$(find segbot_2dnav)/config/costmap_common_base_params.yaml" ns="global_costmap"/>
        <rosparam unless="$(arg use_tilt_laser)" command="load" file="$(find segbot_2dnav)/config/costmap_common_base_params.yaml" ns="local_costmap"/>

        <rosparam file="$(find segbot_2dnav)/config/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find segbot_2dnav)/config/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find segbot_2dnav)/config/base_local_planner_params.yaml" command="load"/>

        <remap from="cmd_vel" to="raw_cmd_vel"/>
    </node>
</launch>
