<launch>
    <!-- General -->
    <arg name="ns"                  default="false"/>
    <arg name="sim"                 default="false"/>

    <!-- Hardware -->
    <arg name="use_base_laser"      default="true"/>
    <arg name="use_camera"          default="true"/>
    <arg name="use_gps"             default="false"/>
    <arg name="use_segway_rmp"      default="false"/>
    <arg name="use_servos"          default="true"/>
    <arg name="use_tilt_laser"      default="true"/>

    <!-- Localization and Mapping  -->
    <arg name="use_slam"            default="true"/>

    <!-- map_name only applies if we are not using slam -->
    <arg name="map_name"            default="basement_map.pgm"/>

    <!-- if slam enabled which one/ones do you want to run -->
    <arg name="use_gmapping"        default="false"/>
    <arg name="use_hector_mapping"  default="true"/>

    <!-- Navigation -->
    <arg name="use_move_base"       default="true"/>
    <arg name="use_teleop"          default="true"/>

    <!-- Planning -->
    <arg name="use_sbpl"            default="false"/>

    <!-- only option currently SBPLLatticePlanner; sbpl_planner only applied -->
    <!-- if we are using sbpl -->
    <arg name="sbpl_planner"        default="SBPLLatticePlanner"/>

    <!-- LIMITS -->
    <param name="max_xspeed" value="4.0"/>
    <param name="max_yawspeed" value="2.1"/>

    <!-- Send URDF to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find segway_robot)/robots/segbot_without_arm.urdf.xacro'"/>

    <include unless="$(arg sim)" file="$(find segbot_2dnav)/launch/segbot_hardware.launch">
        <arg name="sim"             value="$(arg sim)"/>
        <arg name="use_base_laser"  value="$(arg use_base_laser)"/>
        <arg name="use_tilt_laser"  value="$(arg use_tilt_laser)"/>
        <arg name="use_servos"      value="$(arg use_servos)"/>
        <arg name="use_gps"         value="$(arg use_gps)"/>
        <arg name="use_camera"      value="$(arg use_camera)"/>
        <arg name="use_segway_rmp"  value="$(arg use_segway_rmp)"/>
    </include>

    <include file="$(find segbot_2dnav)/launch/segbot_localization.launch">
        <arg name="ns"                  value="$(arg ns)"/>
        <arg name="use_slam"            value="$(arg use_slam)"/>
        <arg name="map_name"            value="$(arg map_name)"/>
        <arg name="use_gps"             value="$(arg use_gps)"/>
        <arg name="use_gmapping"        value="$(arg use_gmapping)"/>
        <arg name="use_hector_mapping"  value="$(arg use_hector_mapping)"/>
    </include>

    <include file="$(find segbot_2dnav)/launch/segbot_control.launch">
        <arg name="use_teleop" value="$(arg use_teleop)"/>
    </include>

    <include file="$(find segbot_2dnav)/launch/segbot_navigation.launch">
        <arg name="use_tilt_laser"  value="$(arg use_tilt_laser)"/>
        <arg name="use_move_base"   value="$(arg use_move_base)"/>
        <arg name="use_sbpl"        value="$(arg use_sbpl)"/>
        <arg name="sbpl_planner"    value="$(arg sbpl_planner)"/>
    </include>
</launch>
