<launch>

  <node pkg="ps3joy" type="ps3joy.py" name="ps3joy" output="screen" />

  <node pkg="joy" type="joy_node" name="joy_node" output="screen" >
    <param name="dev" value="/dev/input/js0" />
  </node>

  <node pkg="pr2_teleop" type="teleop_pr2" name="pr2_teleop" output="screen" args="--deadman_no_publish" >
    <rosparam file="$(find pr2_teleop)/config/teleop.yaml" command="load" />
  </node>

</launch>
