<?xml version="1.0"?>
<robot name="segbot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find segway_robot)/urdf/base.urdf.xacro"/>
    <xacro:include filename="$(find segway_robot)/urdf/sensors.urdf.xacro"/>

    <xacro:include filename="$(find segway_robot)/gazebo/gazebo.urdf.xacro"/>

    <xacro:base name="base"/>
    <xacro:sensors name="sensors"/>
</robot>
