<launch>
    <rosparam command="load" file="$(find segbot_control)/config/segbot_control.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
            args="joint_state_controller base_laser_controller tilt_laser_controller"/>

    <node name="pub_base_laser_command" pkg="rostopic" type="rostopic"
            args="pub base_laser_controller/command std_msgs/Float64 0.18"/>

    <node name="pub_tilt_laser_command" pkg="segbot_gazebo" type="tilt_laser_node">
        <remap from="command" to="tilt_laser_controller/command"/>
        <param name="min_angle_rad" value="-0.99"/>
        <param name="max_angle_rad" value="0.75"/>
        <param name="velocity_rps" value="1.5707"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="twist_ned_transformer" pkg="segbot_gazebo" type="twist_ned_transformer">
        <remap from="cmd_vel_in" to="cmd_vel"/>
        <remap from="cmd_vel_out" to="cmd_vel_sim"/>
    </node>
</launch>
