<launch>
    <arg name="ns"  default="false"/>
    <arg name="sim" default="false"/>

    <group if="$(arg sim)">
        <group if="$(arg ns)" ns="segbot">
            <param name="tf_prefix" value="segbot"/>
            <include file="$(find segbot_control)/launch/segbot_control_base.launch"/>
        </group>
        <group unless="$(arg ns)">
            <include file="$(find segbot_control)/launch/segbot_control_base.launch"/>
        </group>
    </group>
</launch>
